.Header {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.HeaderText {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    font-size: 1.3rem;
    padding-top: 20px;
}

h1{
    margin: 0 auto;
    font-size: 36px;
    font-size: 4.3rem;
    line-height: 40px;
    color: #393939;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 34px;
        font-size: 3.4rem;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .Header {
        padding-bottom:10px;
    }
    .HeaderText {
        font-size: 11px;
        font-size: 1.0rem;
        line-height: 20px;
        line-height: 1.3rem;
        padding-top: 5px;

    }
}
